// SPDX-License-Identifier: (GPL-2.0+ OR MIT)
/*
* Copyright (c) 2021 Rockchip Electronics Co., Ltd
*
*/

/dts-v1/;
#include "rk3588.dtsi"
#include "rk3588-u-boot.dtsi"
#include <dt-bindings/input/input.h>

/ {
	model = "BYD G98 Compiled By yifengyou v2026.09.07-14:44:01";
	compatible = "rockchip,rk3588-evb", "rockchip,rk3588";

	chosen {
		stdout-path = &uart2;
		u-boot,spl-boot-order = &spi_nor;
	};

	aliases {
		ethernet0 = &pcie2x1l1;
		ethernet1 = &pcie2x1l0;
		spi0 = &sfc;
	};

	adc-keys {
		compatible = "adc-keys";
		io-channels = <&saradc 1>;
		io-channel-names = "buttons";
		keyup-threshold-microvolt = <1800000>;
		u-boot,dm-pre-reloc;
		status = "okay";

		volumeup-key {
			u-boot,dm-pre-reloc;
			linux,code = <KEY_VOLUMEUP>;
			label = "volume up";
			press-threshold-microvolt = <1750>;
		};
	};
	// rbrom:
	pmu0_grf: syscon@fd588000 {
		compatible = "rockchip,rk3588-pmu0-grf", "syscon", "simple-mfd";
		reg = <0x0 0xfd588000 0x0 0x2000>;
		status = "okay";
		u-boot,dm-pre-reloc;

		reboot_mode: reboot-mode {
			status = "okay";
			compatible = "syscon-reboot-mode";
			offset = <0x80>;
			mode-bootloader = <0x5242c301>;
			mode-charge = <0x5242c30b>;
			mode-fastboot = <0x5242c309>;
			mode-loader = <0x5242c301>;
			mode-normal = <0x5242c300>;
			mode-maskrom = <0xef08a53c>;
			mode-recovery = <0x5242c303>;
			mode-ums = <0x5242c30c>;
			mode-panic = <0x5242c307>;
			mode-watchdog = <0x5242c308>;
			mode-quiescent = <0x5242c30e>;
			mode-winusb = <0x5242c30f>;
			u-boot,dm-pre-reloc;
		};
	};

	pmu1grf: syscon@fd58a000 {
		status = "okay";
		u-boot,dm-pre-reloc;
		compatible = "rockchip,rk3588-pmu1-grf", "syscon";
		reg = <0x00000000 0xfd58a000 0x00000000 0x00002000>;
	};

	// vcc5v0_sys
	vcc5v0_sys: vcc5v0-sys {
		compatible = "regulator-fixed";
		regulator-always-on;
		regulator-boot-on;
		regulator-min-microvolt = <5000000>;
		regulator-max-microvolt = <5000000>;
		regulator-name = "vcc5v0_sys";
		vin-supply = <&vcc12v_dcin>;
		u-boot,dm-pre-reloc;
	};

	// vcc12v_dcin
	vcc12v_dcin: vcc12v-dcin {
		compatible = "regulator-fixed";
		regulator-always-on;
		regulator-boot-on;
		regulator-min-microvolt = <12000000>;
		regulator-max-microvolt = <12000000>;
		regulator-name = "vcc12v_dcin";
		u-boot,dm-pre-reloc;
	};

	// vcc3v3-pcie30
	vcc3v3_nvme: vcc3v3-nvme {
		compatible = "regulator-fixed";
		regulator-min-microvolt = <3300000>;
		regulator-max-microvolt = <3300000>;
		regulator-name = "vcc3v3_nvme";
		vin-supply = <&vcc12v_dcin>;
		enable-active-high;
		gpios = <&gpio3 RK_PD5 GPIO_ACTIVE_HIGH>;
		startup-delay-us = <7500>;
		pinctrl-names = "default";
		pinctrl-0 = <&nvme_power_en>;
		regulator-always-on;
		u-boot,dm-pre-reloc;
	};

	// vcc5v0-host-regulator
	vcc5v0_host_regulator: vcc5v0-host-regulator {
		compatible = "regulator-fixed";
		enable-active-high;
		gpio = <&gpio4 RK_PB0 GPIO_ACTIVE_HIGH>;
		pinctrl-names = "default";
		pinctrl-0 = <&vcc5v0_host_en>;
		regulator-name = "vcc5v0_host";
		regulator-boot-on;
		regulator-always-on;
		regulator-min-microvolt = <5000000>;
		regulator-max-microvolt = <5000000>;
		vin-supply = <&vcc5v0_sys>;
		u-boot,dm-pre-reloc;
	};

	// vcc5v0-otg-regulator
	vcc5v0_otg_regulator: vcc5v0-otg-regulator {
		compatible = "regulator-fixed";
		enable-active-high;
		gpio = <&gpio4 RK_PA7 GPIO_ACTIVE_HIGH>;
		pinctrl-names = "default";
		pinctrl-0 = <&vcc5v0_otg_en>;
		regulator-min-microvolt = <5000000>;
		regulator-max-microvolt = <5000000>;
		regulator-name = "vcc5v0_otg";
		vin-supply = <&vcc5v0_sys>;
		u-boot,dm-pre-reloc;
	};

	leds {
		compatible = "gpio-leds";
		status = "okay";
		u-boot,dm-pre-reloc;

		hdd-led {
			default-state = "off";
			gpios = <&gpio3 RK_PC1 GPIO_ACTIVE_HIGH>;
		};

		net-led {
			default-state = "off";
			gpios = <&gpio3 RK_PC0 GPIO_ACTIVE_HIGH>;
		};

		work-led {
			gpios = <&gpio3 RK_PB7 GPIO_ACTIVE_HIGH>;
			linux,default-trigger = "heartbeat";
		};
	};
};

// sdhci: mmc@fe2e0000
&sdhci {
	status = "disabled";
};

// sdmmc: mmc@fe2c0000
&sdmmc {
	status = "disabled";
	u-boot,dm-pre-reloc;
};

// sdio: mmc@fe2d0000
&sdio {
	status = "disabled";
	u-boot,dm-pre-reloc;
};

// sfc: spi@fe2b0000
&sfc {
	status = "okay";
	u-boot,dm-pre-reloc;

	/delete-node/ flash@1;

	spi_nor: flash@0 {
		status = "okay";
		u-boot,dm-spl;
		compatible = "jedec,spi-nor";
		label = "sfc_nor";
		reg = <0x00>;
		spi-tx-bus-width = <0x01>;
		spi-rx-bus-width = <0x04>;
		spi-max-frequency = <0x5f5e100>;
		spi-4byte-addressing;
		broken-flash-reset;
		u-boot,dm-pre-reloc;
	};

};

/* ===== 关键修复：强制激活 GPIO 控制器 ===== */
/* gpio3: gpio@fec40000 */
&gpio3 {
	status = "okay";
	u-boot,dm-pre-reloc;
};

/* gpio4: gpio@fec50000 */
&gpio4 {
	status = "okay";
	u-boot,dm-pre-reloc;
};

/* ===== Pin Control ===== */
&pinctrl {
	u-boot,dm-pre-reloc;
	hym8563 {
		hym8563_int: hym8563-int {
			rockchip,pins = <0 RK_PB2 RK_FUNC_GPIO &pcfg_pull_up>;
		};
	};

	pcie {
		pcie2_0_rst: pcie2-0-rst {
			rockchip,pins = <1 RK_PB4 RK_FUNC_GPIO &pcfg_pull_none>;
		};

		pcie2_1_rst: pcie2-1-rst {
			rockchip,pins = <4 RK_PA2 RK_FUNC_GPIO &pcfg_pull_none>;
		};

		pcie3x2_rst: pcie3x2-rst {
			rockchip,pins = <3 RK_PD4 RK_FUNC_GPIO &pcfg_pull_none>;
		};

		pcie3x4_rst: pcie3x4-rst {
			rockchip,pins = <4 RK_PB6 RK_FUNC_GPIO &pcfg_pull_none>;
		};
	};

	nvme {
		nvme_power_en: nvme-power-en {
			rockchip,pins = <3 RK_PD5 RK_FUNC_GPIO &pcfg_pull_none>;
		};
	};

	usb {
		vcc5v0_host_en: vcc5v0-host-en {
			rockchip,pins = <4 RK_PB0 RK_FUNC_GPIO &pcfg_pull_none>;
		};

		vcc5v0_otg_en: vcc5v0-otg-en {
			rockchip,pins = <4 RK_PA7 RK_FUNC_GPIO &pcfg_pull_none>;
		};
	};

	sata {
		sata0_pm_reset: sata0-pm-reset {
			rockchip,pins = <0 RK_PD5 RK_FUNC_GPIO &pcfg_output_high>;
		};
	};

	gmac0 {
		u-boot,dm-pre-reloc;
		gmac0-miim { u-boot,dm-pre-reloc; };
		gmac0-rx-bus2 { u-boot,dm-pre-reloc; };
		gmac0-tx-bus2 { u-boot,dm-pre-reloc; };
		gmac0-rgmii-clk { u-boot,dm-pre-reloc; };
		gmac0-rgmii-bus { u-boot,dm-pre-reloc; };
	};

	gmac1 {
		u-boot,dm-pre-reloc;
		gmac1-miim { u-boot,dm-pre-reloc; };
		gmac1-rx-bus2 { u-boot,dm-pre-reloc; };
		gmac1-tx-bus2 { u-boot,dm-pre-reloc; };
		gmac1-rgmii-clk { u-boot,dm-pre-reloc; };
		gmac1-rgmii-bus { u-boot,dm-pre-reloc; };
	};
};

/* RK3588 PCIe 3.0 x4 和 x2 共用此 PHY pcie30phy: phy@fee80000 */
&pcie30phy {
	status = "okay";
	/* PHY_MODE_PCIE_NANBNB 0 = P1:PCIe3x2  +  P0:PCIe3x2 */
	rockchip,pcie30-phymode = <PHY_MODE_PCIE_NANBNB>;
	u-boot,dm-pre-reloc;
};

/* controller1 pcie3x2: pcie@fe160000 (靠近sata口的NVME槽位)*/
&pcie3x2 {
	pinctrl-names = "default";
	pinctrl-0 = <&pcie3x2_rst>;

	num-lanes = <2>;
	max-link-speed = <3>;

	reset-gpios = <&gpio3 RK_PD4 GPIO_ACTIVE_HIGH>;
	vpcie3v3-supply = <&vcc3v3_nvme>;

	rockchip,bifurcation;

	reset-delay-us = <100000>;
	rockchip,phy-init-delay-us = <50000>;

	status = "okay";
	u-boot,dm-pre-reloc;
};

/* controller0 pcie3x4: pcie@fe150000 （靠近CPU的NVME槽位） */
&pcie3x4 {
	pinctrl-names = "default";
	pinctrl-0 = <&pcie3x4_rst>;

	num-lanes = <2>;
	max-link-speed = <3>;

	reset-gpios = <&gpio4 RK_PB6 GPIO_ACTIVE_HIGH>;
	vpcie3v3-supply = <&vcc3v3_nvme>;

	rockchip,bifurcation;
	rockchip,phy-init-delay-us = <50000>;
	reset-delay-us = <100000>;

	status = "okay";
	u-boot,dm-pre-reloc;
};

// gmac0: ethernet@fe1b0000 motorcomm,yt9215
&gmac0 {
	clock_in_out = "output";
	phy-mode = "rgmii-rxid";
	tx_delay = <0x44>;
	pinctrl-0 = <&gmac0_miim &gmac0_tx_bus2 &gmac0_rx_bus2 &gmac0_rgmii_clk &gmac0_rgmii_bus>;
	pinctrl-names = "default";
	snps,reset-active-low;
	snps,reset-delays-us = <0x00 0x4e20 0x186a0>;
	snps,reset-gpio = <&gpio3 RK_PD0 GPIO_ACTIVE_LOW>;
	status = "disabled";
	u-boot,dm-pre-reloc;

	fixed-link {
		full-duplex;
		pause;
		speed = <1000>;
		u-boot,dm-pre-reloc;
	};
	mdio0: mdio {
		compatible = "snps,dwmac-mdio";
		#address-cells = <1>;
		#size-cells = <0>;
		u-boot,dm-pre-reloc;
		status = "okay";
	};
	/*
	gmac0_mtl_rx_setup: rx-queues-config {
		snps,rx-queues-to-use = <1>;
		queue0 {};
	};

	gmac0_mtl_tx_setup: tx-queues-config {
		snps,tx-queues-to-use = <1>;
		queue0 {};
	};
	*/
};

// gmac1: ethernet@fe1c0000 motorcomm,yt9215
&gmac1 {
	clock_in_out = "output";
	phy-mode = "rgmii-rxid";
	tx_delay = <0x42>;
	pinctrl-0 = <&gmac1_miim &gmac1_tx_bus2 &gmac1_rx_bus2 &gmac1_rgmii_clk &gmac1_rgmii_bus>;
	pinctrl-names = "default";
	snps,reset-active-low;
	snps,reset-delays-us = <0x00 0x4e20 0x186a0>;
	snps,reset-gpio = <&gpio4 RK_PB3 GPIO_ACTIVE_LOW>;
	status = "disabled";
	u-boot,dm-pre-reloc;

	fixed-link {
		full-duplex;
		pause;
		speed = <1000>;
		u-boot,dm-pre-reloc;
		status = "okay";
	};

	mdio1: mdio {
		compatible = "snps,dwmac-mdio";
		#address-cells = <1>;
		#size-cells = <0>;
		u-boot,dm-pre-reloc;
		status = "okay";
	};


	/*
	gmac1_mtl_rx_setup: rx-queues-config {
		snps,rx-queues-to-use = <1>;
		queue0 {};
	};

	gmac1_mtl_tx_setup: tx-queues-config {
		snps,tx-queues-to-use = <1>;
		queue0 {};
	};
	*/
};

/* ========== USB3.0 OTG/Device (Type-C) ========== */

&sys_grf { status = "okay"; u-boot,dm-pre-reloc; };
&usb_grf { status = "okay"; u-boot,dm-pre-reloc; };
&usbdpphy0_grf { status = "okay"; u-boot,dm-pre-reloc; };
&usbdpphy1_grf { status = "okay"; u-boot,dm-pre-reloc; };
&usb2phy0_grf { status = "okay"; u-boot,dm-pre-reloc; };
&usb2phy1_grf { status = "okay"; u-boot,dm-pre-reloc; };
&usb2phy2_grf { status = "okay"; u-boot,dm-pre-reloc; };
&usb2phy3_grf { status = "okay"; u-boot,dm-pre-reloc; };
&vo0_grf { status = "okay"; u-boot,dm-pre-reloc; };


&u2phy0 { status = "okay"; u-boot,dm-pre-reloc; };
&u2phy0_otg {
	phy-supply = <&vcc5v0_otg_regulator>;
	status = "okay";
	u-boot,dm-pre-reloc;
};

&u2phy1 { status = "okay"; u-boot,dm-pre-reloc; };
&u2phy1_otg {
	phy-supply = <&vcc5v0_host_regulator>;
	status = "okay";
	u-boot,dm-pre-reloc;
};

&u2phy2 { status = "okay"; u-boot,dm-pre-reloc; };
&u2phy2_host {
	phy-supply = <&vcc5v0_host_regulator>;
	status = "okay";
	u-boot,dm-pre-reloc;
};

&u2phy3 { status = "okay"; u-boot,dm-pre-reloc; };
&u2phy3_host {
	phy-supply = <&vcc5v0_host_regulator>;
	status = "okay";
	u-boot,dm-pre-reloc;
};

/* ====== 3. USBDP Combo PHY (USB3) ====== */
&usbdp_phy0 {
	status = "okay";
	u-boot,dm-pre-reloc;
};

&usbdp_phy0_u3 {
	#phy-cells = <0>;
	maximum-speed = "high-speed";
	status = "okay";
	u-boot,dm-pre-reloc;
};

&usbdp_phy1 {
	status = "okay";
	u-boot,dm-pre-reloc;
};

&usbdp_phy1_u3 {
	#phy-cells = <0>;
	maximum-speed = "high-speed";
	status = "okay";
	u-boot,dm-pre-reloc;
};

/* ====== 4. DWC3 控制器 ★ 关键修复：添加 USB3 PHY 引用 ====== */
&usbdrd3_0 {
	status = "okay";
	dr_mode = "otg";
	u-boot,dm-pre-reloc;
};

&usbdrd_dwc3_0 {
	dr_mode = "otg";
	maximum-speed = "super-speed";
	/* ★ 覆盖 SoC dtsi 中的 phys，同时绑定 USB2 + USB3 PHY */
	phys = <&u2phy0_otg>, <&usbdp_phy0_u3>;
	phy-names = "usb2-phy", "usb3-phy";
	status = "okay";
	u-boot,dm-pre-reloc;
};

&usbdrd3_1 {
	status = "okay";
	dr_mode = "host";
	u-boot,dm-pre-reloc;
};

&usbdrd_dwc3_1 {
	dr_mode = "host";
	maximum-speed = "super-speed";
	/* ★ 覆盖 SoC dtsi 中的 phys，同时绑定 USB2 + USB3 PHY */
	phys = <&u2phy1_otg>, <&usbdp_phy1_u3>;
	phy-names = "usb2-phy", "usb3-phy";
	status = "okay";
	u-boot,dm-pre-reloc;
};

/* ====== 5. EHCI/OHCI (USB2.0) ====== */
&usb_host0_ehci { status = "okay"; u-boot,dm-pre-reloc; };
&usb_host0_ohci { status = "okay"; u-boot,dm-pre-reloc; };
&usb_host1_ehci { status = "okay"; u-boot,dm-pre-reloc; };
&usb_host1_ohci { status = "okay"; u-boot,dm-pre-reloc; };

/* ====== 6. 禁用不用的控制器 ====== */
&usbhost3_0 { status = "disabled"; };


/* ====== 补充修复：强制启用 u-boot.dtsi 中遗漏的 GRF 和 PHY ====== */

/* vo0_grf 是 usbdp_phy 的硬性依赖，必须 dm-pre-reloc */
&vo0_grf {
	status = "okay";
	u-boot,dm-pre-reloc;
};

/* usbdpphy1_grf 在 u-boot.dtsi 中完全缺失 */
&usbdpphy1_grf {
	status = "okay";
	u-boot,dm-pre-reloc;
};

/* usb2phy1/2/3_grf 在 u-boot.dtsi 中完全缺失 */
&usb2phy1_grf {
	status = "okay";
	u-boot,dm-pre-reloc;
};

&usb2phy2_grf {
	status = "okay";
	u-boot,dm-pre-reloc;
};

&usb2phy3_grf {
	status = "okay";
	u-boot,dm-pre-reloc;
};

/* usbdp_phy1 及其子节点在 u-boot.dtsi 中完全缺失 */
&usbdp_phy1 {
	status = "okay";
	u-boot,dm-pre-reloc;
};

&usbdp_phy1_u3 {
	#phy-cells = <0>;
	maximum-speed = "high-speed";
	status = "okay";
	u-boot,dm-pre-reloc;
};

/* ====== SATA 完整适配 - BYD G98 (已修正) ====== */

/* pipe_phy0_grf 是 syscon，保持原始 compatible 不变 */
&pipe_phy0_grf {
	status = "okay";
	u-boot,dm-pre-reloc;
};

&php_grf {
	status = "okay";
	u-boot,dm-pre-reloc;
};

&combphy0_ps {
	pinctrl-0 = <&sata0_pm_reset>;
	pinctrl-names = "default";
	phy-type = <PHY_TYPE_SATA>;
	status = "okay";
	u-boot,dm-pre-reloc;
	rockchip,pipe-phy-grf = <&pipe_phy0_grf>;
};

/* SATA 控制器 sata@fe210000 */
&sata0 {
	status = "okay";
	phys = <&combphy0_ps PHY_TYPE_SATA>;
	phy-names = "sata-phy";
	u-boot,dm-pre-reloc;
};

&gpio0 {
	status = "okay";
	u-boot,dm-pre-reloc;
};

&sata1 {
	status = "disabled";
	u-boot,dm-pre-reloc;
};


/* ===== Switch ===== */
&mdio0 {
	status = "okay";

	yt9215_0: switch@1d {
		compatible = "motorcomm,yt9215";
		reg = <29>;
		switchid = <1>;

		ethernet-ports {
			#address-cells = <1>;
			#size-cells = <0>;

			ethernet-port@0 {
				reg = <0>;
				label = "lan1";
				phy-mode = "internal";
			};

			ethernet-port@1 {
				reg = <1>;
				label = "lan2";
				phy-mode = "internal";
			};

			ethernet-port@2 {
				reg = <2>;
				label = "lan3";
				phy-mode = "internal";
			};

			ethernet-port@3 {
				reg = <3>;
				label = "lan4";
				phy-mode = "internal";
			};

			ethernet-port@4 {
				reg = <4>;
				label = "lan5";
				phy-mode = "internal";
			};

			ethernet-port@9 {
				reg = <9>;
				phy-mode = "rgmii";          // 或 rgmii-id
				ethernet = <&gmac0>;
				fixed-link {
					speed = <1000>;
					full-duplex;
				};
			};
		};
	};
};

&mdio1 {
	status = "okay";
	u-boot,dm-pre-reloc;

	yt9215_1: switch@1d {
		compatible = "motorcomm,yt9215";
		reg = <29>;
		switchid = <0>;

		ethernet-ports {
			#address-cells = <1>;
			#size-cells = <0>;

			ethernet-port@0 {
				reg = <0>;
				label = "lan5";
				phy-mode = "internal";
			};

			ethernet-port@1 {
				reg = <1>;
				label = "lan6";
				phy-mode = "internal";
			};

			ethernet-port@2 {
				reg = <2>;
				label = "lan7";
				phy-mode = "internal";
			};

			ethernet-port@3 {
				reg = <3>;
				label = "lan8";
				phy-mode = "internal";
			};

			ethernet-port@4 {
				reg = <4>;
				label = "lan9";
				phy-mode = "internal";
			};

			ethernet-port@9 {
				reg = <9>;
				phy-mode = "rgmii";
				ethernet = <&gmac1>;
				fixed-link {
					speed = <1000>;
					full-duplex;
				};
			};
		};
	};
};

/* ===== 2.5G ethernet ===== */
// phy: phy@fee10000
&combphy1_ps {
	status = "okay";
	u-boot,dm-pre-reloc;
};

/* pcie2x1l1 使用 combphy2_psu */
&combphy2_psu {
	status = "okay";
	u-boot,dm-pre-reloc;
};

/* ===== 2.5G ethernet (RTL8168 via PCIe) ===== */
&pipe_phy1_grf {
	status = "okay";
	u-boot,dm-pre-reloc;
};

&pipe_phy2_grf {
	status = "okay";
	u-boot,dm-pre-reloc;
};

// pcie2x1l1: pcie@fe180000 RTL8125 2.5G网卡
&pcie2x1l1 {
	pinctrl-names = "default";
	pinctrl-0 = <&pcie2_1_rst>;
	supports-clkreq;
	reset-gpios = <&gpio4 RK_PA2 GPIO_ACTIVE_HIGH>;
	vpcie3v3-supply = <&vcc3v3_nvme>;

	/* ★ 新增：显式声明 PHY 绑定，防止驱动找不到 */
	phys = <&combphy2_psu PHY_TYPE_PCIE>;
	phy-names = "pcie-phy";

	/* ★ 新增：确保复位释放后有足够的建立时间 */
	/* RTL8168 要求 PERST# 释放后至少 100ms 才能开始 LTSSM */
	reset-delay-us = <100000>;

	status = "disabled";
	u-boot,dm-pre-reloc;
};

// pcie2x1l0: pcie@fe170000 RTL8125 2.5G网卡
&pcie2x1l0 {
	pinctrl-names = "default";
	pinctrl-0 = <&pcie2_0_rst>;
	supports-clkreq;
	reset-gpios = <&gpio1 RK_PB4 GPIO_ACTIVE_HIGH>;
	vpcie3v3-supply = <&vcc3v3_nvme>;

	/* ★ 新增：显式声明 PHY 绑定 */
	phys = <&combphy1_ps PHY_TYPE_PCIE>;
	phy-names = "pcie-phy";

	/* ★ 新增：复位建立时间 */
	reset-delay-us = <100000>;

	status = "disabled";
	u-boot,dm-pre-reloc;
};

